// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$app-theme-dark: mat-dark-theme((
  color: (
    primary: mat-palette($mat-blue),
    accent: mat-palette($mat-red)
  )
));

:root {
  --primary: map_get($app-theme-dark, primary);
  --secondary: map_get($app-theme-dark, secondary);
  --accent: map_get($app-theme-dark, accent);

  --body-color: #fff;
  --body-bg: #1b2234;
}
